{% extends "layout.html" %}
{% block content %}
<p>Accounts</p>
<form method="put" action="/accounts/{{ id }}">
    {% if errors %}
    <p>{{errors}}</p>
    {% endif %}
    <div>
    <label for="name">Name</label>
    <input name="name" required type="text" value="{% if name %}{{ name }}{% endif %}" />
    </div>

    <div>
    <label for="amount">Amount</label>
    <input name="amount" required type="number" value="{% if amount %}{{ amount }}{% endif %}" />
    </div>
    <div>
    <label for="debt">Debt</label>
    <input name="debt" type="checkbox" {% if debt %}{{ "checked" }}{% endif %} value="true" />
    </div>
    <input type="submit" value="Save" />
</form>
{% endblock content %}
